@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #f60f20;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  padding-bottom: 1000px;
}

section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 100px;
  margin-top: 60px;
}

/* Header */

header h1 {
  position: absolute;
  top: 30px;
  left: 100px;
  font-size: 2rem;
  z-index: 100;
}

.toggle-btn {
  background: var(--primary-color) url(../images/menu.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100;
  width: 60px;
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
}

.toggle-btn.active {
  background: var(--primary-color) url(../images/close.png);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

.navigation {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 80;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation.active {
  left: 0;
}

.navigation .social-bar {
  position: fixed;
  top: 0px;
  left: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigation.active .social-bar {
  left: 0;
}

.navigation .social-bar ul li {
  transform: scale(0.5);
  list-style: none;
}

.social-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 60px;
  position: fixed;
  top: 100px;
  left: 0;
}

.social-bar a img {
  transform: scale(0.5);
}

.navigation ul {
  list-style: none;
  text-align: center;
}

.navigation ul a {
  text-decoration: none;
  color: #111;
  font-size: 2rem;
  font-weight: 300;
}

.navigation ul a:hover {
  color: var(--primary-color);
}



/* Main Content */ 
.home {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.home-content {
  position: relative;
  z-index: 50;
  max-width: 600px;
}

.home-content h1{
  font-size: 30px;
  font-weight: 500;
}

.home-content p {
  margin: 20px 0 10px 0;
  font-size: 1.1rem;
}

.home-content a {
  display: inline-block;
}

.home-image {
  position: absolute;
  top: -70px;
  right: 0;
  height: 110%;
}

/* Services Page */
.services-section,
.work-section {
  display: flex;
  align-items: flex-start;
}

.title h1 {
  font-size: 30px;
  font-weight: 500;
}

.title p {
  font-size: 1.1rem;
  margin: 20px 0 10px 0;
}

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 40px;
  text-align: center;
}

.service {
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 10px;
}

.service h2 {
  font-weight: 500;
  color: #1b206e;
  margin-top: 20px;
}

.service img {
  width: 100px;
  height: 100px;
}

/* Work Page */
.portfolio {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.portfolio-item img {
  width: 300px;
  height: 300px;
}

/* Contact Page */
.contact-area {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.contact-form {
  background-color: #f9f9f9;
  width: calc(100% - 400px);
  padding: 60px 40px 20px;
}

.row {
  display: flex;
  width: 100%;
}

.input-50 {
  width: 50%;
  margin: 0 10px;
}

.input-100 {
  width: 100%;
  margin: 0 10px;
}

textarea {
  width: 100%;
  resize: none;
  height: 150px;
  outline: none;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  color: #111;
  border:1px solid rgba(0, 0, 0, 0.2);
  background: transparent;
}

.contact-form input[type='text'],
.contact-form input[type='email'] {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  outline: none;
  font-size: 16px;
  color: #111;
  border:1px solid rgba(0, 0, 0, 0.2);
  background: transparent;
}

.contact-form input[type='submit'] {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  font-weight: 300;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 7px;
  transition: 0.3s;
  cursor: pointer;
}

.contact-form input[type='submit']:hover {
  transform: scale(1.01);
  border-radius: 3px;
}

.contact-info {
  background-color: #f9f9f9;
  padding: 60px 40px 20px;
  width: 350px;
}

.info-box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

.info-box p {
  margin: 20px 0 10px;
  font-size: 1.1rem;
}

.info-box a {
  margin: 20px 0 10px;
  color: #111;
}

.info-box img {
  width: 20px;
  height: 20px;
  margin-right: 40px;
}


/* Utilities */

.btn {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 30px;
  font-size: 16px;
  text-decoration: none;
  margin: 20px 0;
  border-radius: 4px;
}

.btn:hover {
  transform: scale(1.02);
}


@media(max-width: 1068px) {
  .home-image {
    display: none;
  }

  .logo {
    top: 10px;
    left: 40px;
    font-size: 1.5rem;
  }

  section {
    padding: 100px 40px;
  }

  .navigation ul li a {
    font-size: 2rem;
  }

  .services {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact {
    flex-direction: column;
  }

  .contact-form {
    width: 100%;
    padding: 30px 30px 20px;
  }

  .contact-info {
    width: 100%;
    margin-top: 20px;
    padding: 30px 30px 20px;
  }
}

@media(max-width: 768px) {
  .services {
    grid-template-columns: 1fr;
  }

  .contact-form .row {
    flex-direction: column;
  }

  .contact-form .input-50,
  .contact-form .input-100 {
    width: 100%;
    margin: 0;
  }
}