@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #f60f20;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  padding-bottom: 1000px;
}

section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  padding: 100px;
  margin-top: 60px;
}

/* Header */

header h1 {
  position: absolute;
  top: 30px;
  left: 100px;
  font-size: 2rem;
  z-index: 100;
}

.toggle-btn {
  background: var(--primary-color) url(../images/menu.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100;
  width: 60px;
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
}

.toggle-btn.active {
  background: var(--primary-color) url(../images/close.png);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

.navigation {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 80;
  display: none;
  justify-content: center;
  align-items: center;
}

.navigation.active {
  left: 0;
}

.navigation .social-bar {
  position: fixed;
  top: 100px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigation .social-bar ul li {
  transform: scale(0.5);
  list-style: none;
}

.social-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 60px;
}

.social-bar a img {
  transform: scale(0.5);
}

.navigation ul {
  list-style: none;
  text-align: center;
}

.navigation ul a {
  text-decoration: none;
  color: #111;
  font-size: 2rem;
  font-weight: 300;
}

.navigation ul a:hover {
  color: var(--primary-color);
}



/* Main Content */ 
.home-content {
  position: relative;
  z-index: 50;
  max-width: 600px;
}

.home-content h1{
  font-size: 30px;
  font-weight: 500;
}

.home-content p {
  margin: 20px 0 10px 0;
  font-size: 1.1rem;
}

.home-content a {
  display: inline-block;
}

.home-image {
  position: absolute;
  top: -70px;
  right: 0;
  height: 110%;
}

/* Services Page */
.services-section,
.work-section {
  display: flex;
  align-items: flex-start;
}

.title h1 {
  font-size: 30px;
  font-weight: 500;
}

.title p {
  font-size: 1.1rem;
  margin: 20px 0 10px 0;
}

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 40px;
  text-align: center;
}

.service {
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 10px;
}

.service h2 {
  font-weight: 500;
  color: #1b206e;
  margin-top: 20px;
}

.service img {
  width: 100px;
  height: 100px;
}

/* Work Page */
.portfolio {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.portfolio-item img {
  width: 300px;
  height: 300px;
}



/* Utilities */

.btn {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px 30px;
  font-size: 16px;
  text-decoration: none;
  margin: 20px 0;
  border-radius: 4px;
}

.btn:hover {
  transform: scale(1.02);
}